<html>
   <head>
   <!-- The background image is a component used for the style of the page so goes in the style tag-->

   <link rel= "stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  
   <!-- we are modifying the body style by adding a background image -->

   </head>
   <body>
   <div class="about">
   <header>
   	<nav class="navbar navbar-inverse">
   	 <ul class="nav navbar-nav">
   	 	<li><a href="/">Home</a></li>
   	 	<li><a href="/list">View Files</a></li>
   	 </ul>
   	 </nav>
   </header>
   </div>
    <h1 align="center"> Cloud Box </h1>
	
    <div align="center">
         <img src="http://www.makbusiness.ca/wp-content/uploads/2016/03/cloud.png" style="width:500px;height:300px; class= "titlepic"/>
           
           <form action="/upload" method="post" enctype="multipart/form-data">
  <h2>Upload files</h2>
  <br>
  <input id="upload-input"  type="file" name="uploads[]" multiple="multiple"></br>

<input class="btn btn-primary btn-lg" type="submit" value="upload" onClick="alert('Uploaded Successfully!')">
</form>
           
           
           
           </div>
   </body>
   </html>